/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.04.2015., 01:03:22
    Author     : jura
*/



label{
    
    width: auto;
    float: none;
    
    
}

table > tbody tr:hover{
    color: #ccc;
    background-color: #f23f37;
    border: red outset;
    border-width: 5px;
    
}